.button {
  margin: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  background-color: lightgrey;
  color: gray;
  border-style: none;
  border-radius: 8px;
}

.button:hover {
  background-color: gray;
  color: white;
  transition: 0.25s all ease-in-out;
}
